/* include at least one media query */

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    height: 100%;
    --main-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #484452;
    margin: 0px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

#navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    height: 80px;
    width: 50%;
    background-color: #484452;
}

.nav-link {
    font-family: var(--main-font);
    text-decoration: none;
    color: #fff;
    font-size: 25px;
}

#welcome-section {
    background-color: #283148;
    width: 100%;
    height: 100vh;
    text-align: center;
    padding-top: 120px;
}

#about-img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

#greeting {
    color: white;
    margin: 0;
    font-family: var(--main-font);
    font-size: 52px;
    padding-bottom: 15px;
}

.description {
    color: #D5896F;
    font-family: var(--main-font);
    margin-top: 0;
    font-size: 20px;
    animation-duration: 4s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-top: 70px;
        width: 100%;
    }
    to {
        margin-left: 0;
        width: 100%;
    }
}

#projects-section {
    height: auto;
    background-color: #bbbbbb;
    text-align: center;
    padding: 80px;
    font-size: 30px;
}

#projects-section h2 {
    color: #283148;
    font-family: var(--main-font);
    margin: 0px;
}

.container {
    justify-content: space-evenly;
    flex-wrap: wrap;
    display: flex;
    margin-top: 40px;
}

.project-tile {
    margin: 10px;
    border: 5px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    border-radius: 10px;
    cursor: default;
}

.project-tile .project {
    display: block;
    position: relative;
}

.project-tile .mask {
    width: 500px;
    height: 75px;
    position: absolute;
    overflow: hidden;
    bottom: 0;
    left: 0;
}

.project-tile h3 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0;
    font-family: var(--main-font);
}

.view iframe {
    transition: all 0.2s linear;
}

.view .mask {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.8);
    transition: all 0.4s ease-in-out;
}

.view h3 {
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.view:hover iframe {
    transform: scale(1.1);
}

.view:hover .mask {
    opacity: 1;
}

.view:hover h3 {
    opacity: 0.9;
    transform: translateY(0px);
}

#projects-link {
    color: #283148;
    text-decoration: none;
    font-family: var(--main-font);
}

#contact-section {
    height: 400px;
    text-align: center;
    padding: 80px;
    font-size: 30px;
    background-color: #283148;
}

#contact-section h2 {
    color: #fff;
    font-family: var(--main-font);
    margin: 0px;
}

.contact-link {
    color: #fff;
    text-decoration: none;
    font-family: var(--main-font);
}

#hr {
    position: absolute;
    left: 0;
    width: 100vw;
    margin-top: 50px;
    height: 4px;
    background-color: #D5896F;
}

@media (max-width: 500px) {
    #greeting {
        font-size: 32px;
    }
    #about-img {
        width: 100px;
        height: 100px;
    }
    h2 {
        font-size: 32px;
    }
    .description {
        font-size: 15px;
    }
    iframe {
        width: 400px;
        height: 300px;
    }
    .project-tile .mask {
        width: 300px;
    }
}

@media (max-height: 600px) {
    main {
        background-color: #283148;
    }
    #welcome-section {
        height: auto;
    }
}